@use '../variables.scss';
@use 'sass:math';

.main-bg{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 variables.$base-padding;

    img {
        width: 9%;
    }
}

.output-bg{
    display: flex;
    flex-direction: column;
    background-color: variables.$light-turquoise;
    border-radius: 6px; 
    width: 50%;
    padding: variables.$base-padding;
    align-items: center;
    margin-bottom: variables.$base-margin * 2;
    box-shadow: variables.$base-box-shadow;
    color: variables.$dim-gray;
    
    h2, h3, h4 {
        margin-bottom: variables.$base-margin;
        letter-spacing: 0.1em;
    }
}

.main-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dayTime{
    width: 100vh;
    img{
        box-shadow: variables.$base-box-shadow;  
    }
}

.forecast{
    display: flex;
    justify-content: space-around;
    align-items: center;
    img {
        padding: 0 variables.$base-padding;
    }
}