@use '../variables.scss';

.input{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: variables.$light-yellow;
    border-radius: 20px;
    box-shadow: variables.$base-box-shadow;
    min-width: 10vw;
    margin: variables.$base-margin;
    padding: 0 variables.$base-padding;
    color: variables.$yellow;
}

.input-text {
    outline: none;
    border: none;
    color: variables.$gray;
    background-color: transparent;
    padding: 0 variables.$base-padding;
    font-family: 'Quicksand', sans-serif;
}

.submit {
    background-color: transparent;
    outline: none;
    padding: variables.$base-padding 0;
    border: none;
    
}