@use './_variables';

// resetting original styles
* {
    margin: 0;
    color: inherit;
    box-sizing: border-box;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-image: url("img/tropical-flowers.png");
    background-position: center;
    background-size: cover;
    z-index: -1;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
    color: variables.$light-blue;
}

hr{
    border: 0;
    border-top: 1.6px solid #c0c0c0;
}

img{
    max-width: 100%;
}