// resetting original styles
* {
    margin: 0;
    color: inherit;
}

body{
    font-family: 'Quicksand', sans-serif;
    background-image: url("img/tropicalbg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    height: 100%;
    z-index: -1;
}

ul {
    padding: 0;
    list-style-type: none;
}

a {
    text-decoration: none;
}

hr{
    border: 0;
    border-top: 1.6px solid #c0c0c0;
}

img{
    max-width: 100%;
}