@use 'variables';
@use 'breakpoint';
@use 'grid';

.responsive-test{
    @include breakpoint.sm {
        .logo{
            padding-top: variables.$base-padding * 2;

            h1 {
                font-size: variables.$font-size-xxl;   
            }
        }

        h2 {
            font-size: variables.$font-size-lg;
        }

        h3 {
            font-size: variables.$font-size-md; 
        }

        h4 {
            font-size: variables.$font-size-md;
        }

        .input {
            margin-top: variables.$base-margin * 3;
        }

            .input-icons{
                font-size: variables.$font-size-sm;
                margin: variables.$base-margin;
            }
            .input-text{
                font-size: variables.$font-size-xs;
                margin: 0 variables.$margin-sm;
                width: 70%;
            }
        }
        .footer{
            font-size: variables.$font-size-xxs;
        }
    }
