@use "variables";
@use "breakpoint";
@use "grid";

.responsive-test {
    @include breakpoint.xs {
        .logo {
            padding-top: variables.$base-padding * 2;
        }

        h2 {
            font-size: variables.$font-size-lg;
        }

        h3 {
            font-size: variables.$font-size-md;
        }

        h4 {
            font-size: variables.$font-size-md;
        }

        .input-icons {
            font-size: variables.$font-size-sm;
            margin: variables.$base-margin;
        }
        .input-text {
            font-size: variables.$font-size-xs;
            margin: 0 variables.$margin-sm;
        }
        
        .footer {
            font-size: variables.$font-size-xxs;
        }
    }
}
