// theme colors
$grey-sand: #d6d1b1;
$grey-light-blue: #cfe0c0;
$light-blue: #c7efcf;
$almost-white: #eef5db;
$light-green: #acc282;
$greenish-gray: #1e1f1d;
$flower-pink: #f3506b;
$flower-orange: #f78142;


// gradient
$sea-gradient: linear-gradient(90deg, rgba(243,80,107, 0.8) 0%, rgba(247,129,66, 0.8) 100%);

// spacing
$sm-padding: 0.25rem;
$base-padding: 0.75rem;
$base-margin: 0.75rem;
$margin-sm: 0.5rem;

// borders
$base-thickness: 1px;
$base-border-radius: 20px;
$base-box-shadow: 0 3px 12px rgb(0 0 0 / 0.3);

// font-sizes
$font-size-xxs: 0.7em;
$font-size-xs: 0.9em;
$font-size-sm: 1em;
$font-size-md: 1.3em;
$font-size-lg: 2em;
$font-size-xl: 2.6em;
$font-size-xxl: 3.2em;
$font-size-xxxl: 3.6em;
$font-size-4l: 4em;
$font-size-realb: 5em;