@import url("https://fonts.googleapis.com/css2?family=Courgette&family=Quicksand&display=swap");
* {
  margin: 0;
  color: inherit;
  box-sizing: border-box;
}

body {
  font-family: "Quicksand", sans-serif;
  background-image: url("img/tropical-flowers.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: -1;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #c7efcf;
}

hr {
  border: 0;
  border-top: 1.6px solid #c0c0c0;
}

img {
  max-width: 100%;
}

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  height: 100vh;
}

.row {
  display: flex;
  flex-wrap: row wrap;
}

.gap-0 > * {
  padding: 0;
}

.gap-0 {
  margin-left: 0;
  margin-right: 0;
}

.gap-1 > * {
  padding: 10px;
}

.gap-1 {
  margin-left: -10px;
  margin-right: -10px;
}

.gap-2 > * {
  padding: 20px;
}

.gap-2 {
  margin-left: -20px;
  margin-right: -20px;
}

.gap-3 > * {
  padding: 30px;
}

.gap-3 {
  margin-left: -30px;
  margin-right: -30px;
}

@media (min-width: 0) {
  .col-1-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xs {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 480px) {
  .col-1-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-sm {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 720px) {
  .col-1-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-md {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 960px) {
  .col-1-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-lg {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 1200px) {
  .col-1-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 8.3333333333%;
  }

  .col-2-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 16.6666666667%;
  }

  .col-3-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 25%;
  }

  .col-4-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 33.3333333333%;
  }

  .col-5-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 41.6666666667%;
  }

  .col-6-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 50%;
  }

  .col-7-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 58.3333333333%;
  }

  .col-8-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 66.6666666667%;
  }

  .col-9-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 75%;
  }

  .col-10-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 83.3333333333%;
  }

  .col-11-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 91.6666666667%;
  }

  .col-12-xl {
    box-sizing: border-box;
    flex-grow: 0;
    width: 100%;
  }
}
@media (min-width: 0) {
  .responsive-test h1 {
    font-size: 2.6em;
  }
  .responsive-test h2 {
    font-size: 2em;
  }
  .responsive-test h3 {
    font-size: 1.3em;
  }
  .responsive-test h4 {
    font-size: 1.3em;
  }
  .responsive-test .input-text {
    font-size: 1em;
    padding: 0.75rem 0;
  }
  .responsive-test .footer {
    font-size: 0.8035714286em;
  }
}
@media (min-width: 480px) {
  .responsive-test h1 {
    font-size: 2em;
  }
  .responsive-test h2 {
    font-size: 2em;
  }
  .responsive-test h3 {
    font-size: 1.3em;
  }
  .responsive-test h4 {
    font-size: 1.3em;
  }
  .responsive-test .input-text {
    font-size: 1em;
    padding: 0.75rem 0;
  }
}
@media (min-width: 720px) {
  .responsive-test h1 {
    font-size: 3.2em;
  }
  .responsive-test h2 {
    font-size: 2em;
  }
  .responsive-test h3 {
    font-size: 1.3em;
  }
  .responsive-test h4 {
    font-size: 1.3em;
  }
  .responsive-test .input-text {
    font-size: 1.3em;
    padding: 0.75rem 0;
  }
  .responsive-test .footer {
    font-size: 1.3em;
  }
}
@media (min-width: 960px) {
  .responsive-test h1 {
    font-size: 4em;
  }
  .responsive-test h2 {
    font-size: 2.6em;
  }
  .responsive-test h3 {
    font-size: 2em;
  }
  .responsive-test h4 {
    font-size: 1.3em;
  }
  .responsive-test .input-text {
    font-size: 1.3em;
    padding: 0.75rem 0;
  }
  .responsive-test .footer {
    font-size: 1.3em;
  }
}

@media (min-width: 0) {
  .responsive-test .logo {
    padding-top: 1.5rem;
  }
  .responsive-test h2 {
    font-size: 2em;
  }
  .responsive-test h3 {
    font-size: 1.3em;
  }
  .responsive-test h4 {
    font-size: 1.3em;
  }
  .responsive-test .input .input-icons {
    font-size: 1em;
    margin: 0.75rem;
  }
  .responsive-test .input .input-text {
    font-size: 0.9em;
    margin: 0 0.5rem;
  }
  .responsive-test .footer {
    font-size: 0.7em;
  }
}

.logo {
  color: #f3506b;
  font-family: "Courgette", cursive;
}
.logo span {
  color: #f78142;
}

.input {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 20px;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  padding: 0 0.75rem;
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;
  background-color: #eef5db;
  color: #acc282;
  width: 100%;
}

.input:focus {
  background-color: white;
}

.input-text {
  outline: none;
  border: none;
  background-color: transparent;
  padding: 0 0.75rem;
  font-family: "Quicksand", sans-serif;
  color: #1e1f1d;
}

.input-icon {
  font-size: 1em;
}

.submit {
  background-color: transparent;
  outline: none;
  border: none;
  font-size: 1.3em;
}

.submit:hover {
  color: #f78142;
}

.title-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem 0;
  margin: 0.75rem 0;
}
.title-container img {
  width: 13%;
}

.row-container {
  height: 100%;
  justify-content: center;
}

.output-bg {
  display: flex;
  flex-direction: column;
  padding: 0.75rem;
  align-items: center;
  justify-content: space-around;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
  background: #eef5db;
  color: #1e1f1d;
  min-height: 20%;
}
.output-bg h2, .output-bg h3, .output-bg h4 {
  letter-spacing: 0.1em;
}
.output-bg h2 {
  color: #f78142;
}

.forecast-info {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.forecast-info img {
  padding: 0 0.75rem;
}

.footer {
  width: 100%;
  height: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.75rem;
  flex-direction: column;
  background: linear-gradient(90deg, rgba(243, 80, 107, 0.8) 0%, rgba(247, 129, 66, 0.8) 100%);
  color: #cfe0c0;
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3);
}
.footer a {
  color: #eef5db;
}
.footer a:hover {
  color: #c7efcf;
}

.footer > * {
  margin-bottom: 0.75rem;
}

.footer-author {
  display: flex;
  align-items: center;
}

.footer-links {
  display: flex;
  justify-content: space-around;
  font-size: 1.3em;
}
.footer-links a {
  margin: 0 0.375rem;
}

/*# sourceMappingURL=styles.css.map */
